*{
  margin: 0;
}

.header {
  padding: 1em;
  background-color: #fc6c28;
  color: #000000;
  text-align: center;
}

body{
  background-image: url('record.png');
  background-repeat: repeat;
}

.main{
  background-color: #e5e5e5;
  padding: 1em;
}
